---
import Layout from '@/layouts/Layout.astro';
---

<Layout>
  <div style="text-align: center; padding: 2rem;">
    <p>Redirecting to <a href='./secret-mail/send'>Secret Mail</a>...</p>
  </div>
</Layout>

<script>
  window.location.href = './secret-mail/send';
</script>
