---
import Layout from '@/layouts/Layout.astro';

const redirectTo = './send';
---

<Layout>
  <div style='text-align: center; padding: 2rem;'>
    <p>Redirecting to <a href={redirectTo}>Secret Mail</a>...</p>
  </div>
</Layout>

<script define:vars={{ redirectTo }}>
  window.location.href = redirectTo;
</script>
