---
import { cn } from '@/lib/utils';
import MailSendIcon from '../assets/icons/MailSend.astro';
import MailboxIcon from '../assets/icons/Mailbox.astro';
import Layout from './Layout.astro';
import { Button } from '@/components/ui/button';
import { SEND_URL, RECEIVE_URL } from '@/lib/constants';

const baseClass =
  'flex items-center font-medium w-12 tracking-wide p-0 rounded-r-lg shadow-md transform transition-all duration-200 ease-in-out -translate-x-1 focus:outline-none focus:ring-2 focus:ring-offset-amber-50 focus:ring-red-600';
const activeClass = cn(baseClass, 'z-10 bg-red-600 text-amber-50 hover:bg-red-600/50');
const inactiveClass = cn(baseClass, 'bg-amber-200 text-stone-700 hover:bg-amber-200/50');
---

<Layout>
  <div class='flex min-h-screen bg-amber-50 text-stone-700'>
    <nav class='fixed top-1/2 -translate-y-1/2 left-0 flex flex-col space-y-2 z-30'>
      <Button
        className={Astro.url.pathname.includes('/send') ? activeClass : inactiveClass}
        variant='outline'
      >
        <a href={SEND_URL} class='inline-flex items-center justify-center w-full h-full'>
          <MailSendIcon />
        </a>
      </Button>
      <Button
        className={Astro.url.pathname.includes('/receive') ? activeClass : inactiveClass}
        variant='outline'
      >
        <a href={RECEIVE_URL} class='inline-flex items-center justify-center w-full h-full'>
          <MailboxIcon />
        </a>
      </Button>
    </nav>

    <slot />
  </div>
</Layout>
